<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :Imagen %><br>
    <%= f.text_field :img %>
  </div>
  <% formato={'Mobiliario de Oficina'=>'Mobiliario de Oficina','Mobiliario de Escolar'=> 'Mobiliario de Escolar', 'JUNJI'=>'junji', 'Urbano'=>'Urbano' } %>
  <% lista= formato.sort %>
  <div class="field">
    <%= f.label :categoria %><br>
    <%= f.select :categoria, lista %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :detalle  %><br>
    <%= f.text_area :detalle, :cols=>60, rows: 10  %>
  </div>
  <div class="actions">
    <%= f.submit "Agregar" , :class => 'btn btn-success'%>
    <%= link_to "Volver", productos_path  , :class => 'btn btn-default'  %>
  </div>
<% end %>
