<div class="container">
  <p id="notice"><%= notice %></p>
  <legend>
    <%= @producto.tipo %>
  </legend>
  <p>
    <a href="<%= @producto.img %>"><img src="<%= @producto.img %>" class="img-thumbnail img-responsive" alt="Responsive image"></a>
  </p>

  <p>
    <strong class=" text-info">Precio: $
    <%= @producto.precio %>
    </strong>
  </p>
  <p class="text-justify">
    <strong>Detalle:
    <%= @producto.detalle %>
    </strong>
  </p>
  <!--  
  <p class="text-justify">
    <strong>categoria:
    <%= @producto.categoria %>
    </strong>
  </p>
-->
  <p>
    <strong>Codigo SAP:</strong>
    <%= @producto.codigo %>
  </p>

  <%= link_to 'Volver', root_url, :class => 'btn btn-default' %>
  <%= link_to 'Editar', edit_producto_path(@producto),:class => 'btn btn-success' %> 
  <%= link_to 'Eliminar', @producto, :class => 'btn btn-danger',method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
